<h1>Welcome to Rock, Paper, Scissors!!!!!!!!!!!!!!!!!!!</h1>
<section class="jumbotron">
  <div class = "container">
  </div>
</section>
<p>It's the classic game of rock, paper or scissors. Player 1 goes first by clicking on the button below; followed by player 2, find out who wins!</p>
<div style="text-align:center">
<a class="btn btn-primary" href="/player1">Player 1</a>
</div>
