<h1>Player 2 - please make your choice</h1>
<div style="text-align:center">
  <a class="btn btn-primary" href="/rock/rock">rock</a>
  <a class="btn btn-primary" href="/rock/paper">paper</a>
  <a class="btn btn-primary" href="/rock/scissors">scissors</a>
</div>
