<h1>Player 1 - please make your choice</h1>
<div style="text-align:center">
  <a class="btn btn-primary" href="p1_rock">rock</a>
  <a class="btn btn-primary" href="p1_paper">paper</a>
  <a class="btn btn-primary" href="p1_scissors">scissors</a>
</div>
